/*
  Do not make manual changes to this stylesheet.
  To make style changes, edit the "style-dev.less" file while previewing the /dev_template/index.html file.
  When you're ready, use http://lesscss.org/less-preview/ to compile the .less file into CSS and
  replace the CSS below this message with the output.
  Note: for background images from the assets folder.. remove "assets" from the url() delaration
  This -    background: url(../assets/images/nav-selected-indicator.svg);
  Becomes - background: url(../images/nav-selected-indicator.svg);
*/

body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
body * {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
h1 {
  font-size: 32px;
  margin: 0 0 35px 0;
  color: #273D44;
  position: relative;
  line-height: 120%;
}
h2 {
  font-size: 32px;
  font-style: italic;
  color: #2581B7;
  margin: 30px 0 20px 0;
}
h3 {
  color: #2581B7;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 8px 0;
}
h4 {
  color: #273D44;
  margin: 0 0 10px 0;
  font-size: 18px;
}
p,
li {
  color: rgba(0, 0, 0, 0.45);
  line-height: 160%;
}
ul,
ol {
  margin: 0 0 30px 0;
}
ul li,
ol li {
  margin-bottom: 6px;
}
ul li {
  list-style-type: none;
  position: relative;
}
ul li:before {
  content: ".";
  position: absolute;
  left: -15px;
  font-weight: 700;
  color: inherit;
  font-size: 25px;
  top: -6px;
}
strong {
  font-weight: 500;
  color: #273D44;
}
p {
  margin: 0 0 30px 0;
}
a {
  color: #089970;
  transition: background 0.05s ease-out;
}
a:hover {
  background: #E4F7F0;
}
article {
  max-width: 750px;
  min-width: 500px;
  position: relative;
  padding: 20px 0 40px 295px;
  margin-right: 55px;
  z-index: 1;
}
.logo {
  position: relative;
  left: -12px;
  width: 175px;
  margin-bottom: 10px;
}
.logo a:hover {
  background: none;
  opacity: .8;
}
.example {
  display: flex;
  margin: 35px 0 40px 0;
  background: #E0F3FF;
  color: #2581B7;
  padding: 30px 35px;
}
.example .title {
  flex: 1;
  color: inherit;
}
.example .title h1 {
  width: 100%;
  padding: 0 0 2px 0;
  font-size: 20px;
  font-style: italic;
  position: relative;
  top: 3px;
  color: inherit;
}
.example .content {
  flex: 2;
  color: inherit;
  position: relative;
  padding-left: 22px;
}
.example .content:after {
  content: "";
  width: 2px;
  left: -2px;
  top: 4px;
  height: calc(100% - 8px);
  position: absolute;
  background: #CAE8FA;
}
.example .content p:last-child {
  margin: 0;
}
.example .content * {
  color: inherit;
}
.meta-information {
  display: flex;
  margin: 0 -20px 50px -20px;
}
.meta-information .summary,
.meta-information .details {
  margin: 0 20px;
}
.meta-information .summary {
  flex: 2;
  font-size: 18px;
  line-height: 145%;
  padding: 0 0 0 28px;
  font-style: italic;
  position: relative;
}
.meta-information .summary:after {
  content: "";
  width: 3px;
  height: calc(100% - 10px);
  left: 0;
  top: 5px;
  position: absolute;
  background: #CAE8FA;
}
.meta-information .details {
  flex: 1;
}
.meta-information .details time,
.meta-information .details .difficulty {
  color: #2581B7;
  font-weight: 700;
  margin-bottom: 3px;
  display: block;
}
.meta-information .details time:before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
}
.meta-information .details .difficulty:before {
  content: "\f007";
  font-family: FontAwesome;
  margin-right: 6px;
}
.presentation-details {
  display: flex;
  margin: 0 -20px 35px -20px;
}
.presentation-details section {
  flex: 1;
  margin: 0 20px;
}
.presentation-details section :last-child {
  margin-bottom: 0;
}
aside {
  background: #4F99C4;
  position: fixed;
  height: 100vh;
  width: 230px;
  top: 0;
  z-index: 2;
}
aside .image {
  position: relative;
}
aside .image img {
  width: calc(100% - 20px);
}
/* Left-side Navigation */
nav {
  padding: 0;
  margin: 15px 0 80px 0;
  list-style-type: none;
  position: relative;
}
nav a {
  display: block;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 18px 34px;
  transition: background 0.05s ease-out;
}
nav a.selected,
nav a.selected:hover {
  background: #2581B7;
  color: white;
  font-weight: 500;
}
nav a:hover {
  background: #2F8DBC;
  color: #ffffff;
}
nav a:after {
  content: "";
  background: url(../images/nav-selected-indicator.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.075s ease-out;
}
nav a.selected {
  color: #ffffff;
}
nav a.selected:after {
  opacity: 1;
  right: -20px;
}
/*The steps to complete list*/
.steps {
  margin: 30px 0 50px 0;
  padding: 0 0 0 60px;
}
.steps h1 {
  font-weight: 500;
  font-size: 22px;
  margin: 0 0 6px 0;
  padding: 0;
  color: #2581B7;
}
.steps time {
  margin: 0 0 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500;
}
.steps time:before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.25);
}
.steps > ol {
  padding: 0;
}
.steps > li {
  list-style-type: none;
  position: relative;
  padding: 0 0 10px 0;
  margin: 0 0 40px 0;
}
.steps > li:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: #CAE8FA;
  width: 35%;
  left: calc(22% + 50px);
}
.steps > li:last-child {
  border: none;
  margin: 0;
}
.steps > li:last-child :last-child {
  margin: 0;
}
.steps > li:before {
  position: absolute;
  left: -60px;
  top: -10px;
  font-weight: 400;
  font-size: 22px;
  color: #2581B7;
  border: solid 2px #CAE8FA;
  height: 43px;
  width: 43px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 9px;
  border-radius: 0 50% 50% 50%;
}
.steps > li:nth-child(1):before {
  content: ' 1 ';
}
.steps > li:nth-child(2):before {
  content: ' 2 ';
}
.steps > li:nth-child(3):before {
  content: ' 3 ';
}
.steps > li:nth-child(4):before {
  content: ' 4 ';
}
.steps > li:nth-child(5):before {
  content: ' 5 ';
}
.steps > li:nth-child(6):before {
  content: ' 6 ';
}
.steps > li:nth-child(7):before {
  content: ' 7 ';
}
.steps > li:nth-child(8):before {
  content: ' 8 ';
}
.steps > li:nth-child(9):before {
  content: ' 9 ';
}
.steps > li:nth-child(10):before {
  content: ' 10 ';
}
.steps ul,
.steps ol {
  padding: 0;
}
.steps ul li,
.steps ol li {
  list-style-type: none;
}
.steps ul li:before,
.steps ol li:before {
  display: none;
}
.steps ul li h2,
.steps ol li h2 {
  font-size: 15px;
  color: #273D44;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.glossary {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0 0 40px 0;
}
.glossary .term {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  display: table;
}
.glossary .term h3 {
  font-weight: 500;
  font-size: 16px;
  color: #273D44;
  margin: 0;
}
.glossary .term p {
  margin-bottom: 20px;
  margin-left: 15px;
}
.resources {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding-bottom: 30px;
}
.resources .resource {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  padding-bottom: 25px;
}
.resources .resource h4 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}
.resources .resource p {
  margin: 10px 0 0 0;
}

/* --------------------------------------------------------------
9.0 Widgets
-------------------------------------------------------------- */
.widget-area {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  float: right;
  font-size: 16px;
  position: relative;
  -webkit-backface-visibility: hidden;
}
@media (max-width: 800px) {
  .widget-area {
    width: 100%;
    float: none;
    margin-top: 8%;
  }
}

.widget-area a {
  color: #66727D;
}
.widget-area a:hover {
  color: #283037;
}

.widget-area aside {
  display: inline-block;
  width: 100%;
  margin-bottom: 8%;
  vertical-align: top;
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(0);
}
.widget-area aside:after {
  content: " ";
  background: url(images/screen-half.png);
  height: 12px;
  display: inline-block;
  width: 100%;
  margin-top: 10%;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
}
.widget-area aside:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget-area aside:last-child:after {
  display: none;
}
@media (max-width: 600px) {
  .widget-area aside {
    margin-bottom: 8%;
  }
}

.widget-area aside:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.widget-area aside .widget-title,
.widget-area aside .widgettitle,
.widget-area .widget-grofile h4 a {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.6;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .widget-area aside .widget-title,
  .widget-area aside .widgettitle,
  .widget-area .widget-grofile h4 a {
    margin-bottom: 35px;
  }
}
@media (max-width: 600px) {
  .widget-area aside .widget-title,
  .widget-area aside .widgettitle,
  .widget-area .widget-grofile h4 a {
    margin-bottom: 20px;
  }
}

.widget-area .textwidget p:last-of-type {
  margin-bottom: 0;
}

.widget-area aside ul {
  margin: 0 0 0 0;
}

.widget-area aside ul.sub-menu,
.widget-area aside .children {
  margin: 4% 0 0 20px;
}

.widget-area aside ul.sub-menu li:last-child,
.widget-area aside .children li:last-child {
  margin-bottom: 0;
  padding-bottom: 2%;
  border-bottom: none;
}

.widget-area aside li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #ccc;
  list-style: none;
  position: relative;
}
.widget-area aside li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  left: -18px;
  top: 3px;
  color: #A1B0BD;
  font-size: 12px;
  display: none;
}

.widget-area aside li ul li {
  list-style: circle;
}

.widget-area aside li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.sub-banner {
	font-size: 12px;
	margin: auto;
	background-color: #f8f8f8;
	border-bottom: solid 1px #e4e4e4;
}

.sub-banner > .container {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}

.sub-banner .description {
	padding: 15px 0 30px;
	max-width: 730px;
	margin: auto;
}

.sub-banner .description a {
	text-decoration: underline;
}

.timeline {
	padding-top: 70px;
}

.timeline-progress {
	max-width: 600px;
	height: 4px;
	position: relative;
	margin: 1.5rem auto;
	background-color: #ccc;
	border-radius: 5px;
}

.timeline-progress-completion {
	background-color: #c13832;
	width: 25%;
	height: 100%;
	border-radius: 5px;
}

.timeline-phase-1 .timeline-progress-completion {
	width: 14.5%;
}

.timeline-phase-2 .timeline-progress-completion {
	width: 39.5%;
}

.timeline-phase-3 .timeline-progress-completion {
	width: 63.5%;
}

.timeline-phase-4 .timeline-progress-completion {
	width: 88.5%;
}

.phase-1 {
	margin-left: 13%;
}

.phase-2 {
	margin-left: 38%;
}

.phase-3 {
	margin-left: 62%;
}

.phase-4 {
	margin-left: 87%;
}

.timeline-phase-1 .phase-1 .timeline-chevron,
.timeline-phase-2 .phase-1 .timeline-chevron,
.timeline-phase-2 .phase-2 .timeline-chevron,
.timeline-phase-3 .phase-1 .timeline-chevron,
.timeline-phase-3 .phase-2 .timeline-chevron,
.timeline-phase-3 .phase-3 .timeline-chevron,
.timeline-phase-4 .phase-1 .timeline-chevron,
.timeline-phase-4 .phase-2 .timeline-chevron,
.timeline-phase-4 .phase-3 .timeline-chevron,
.timeline-phase-4 .phase-4 .timeline-chevron {
	border-color: #c13832;
}

.timeline-phase-1 .phase-1 .timeline-phase,
.timeline-phase-2 .phase-1 .timeline-phase,
.timeline-phase-2 .phase-2 .timeline-phase,
.timeline-phase-3 .phase-1 .timeline-phase,
.timeline-phase-3 .phase-2 .timeline-phase,
.timeline-phase-3 .phase-3 .timeline-phase,
.timeline-phase-4 .phase-1 .timeline-phase,
.timeline-phase-4 .phase-2 .timeline-phase,
.timeline-phase-4 .phase-3 .timeline-phase,
.timeline-phase-4 .phase-4 .timeline-phase {
	color: #4A4A4A;
}

.timeline-progress-percentage {
	position: absolute;
	top: -3px;
	text-align: center;
}

.timeline-chevron {
	border-color: #ccc;
	height: 10px;
	width: 10px;
	border-style: solid;
	border-width: 4px 4px 0 0;
	transform: rotate(45deg);
}

.timeline-phase {
	position: absolute;
	left: -45px;
	width: 100px;
	bottom: 20px;
	color: #9B9B9B;
}

